body{
  background-color: #272A43;
}


.top-box{
  text-align: center;
  padding: 3%;

}


.top-heading{
  font-size: 7rem;
  color: #D5E5F7;
  text-shadow: 2px 1px #692E54;
}


.middle-box{
text-align: center;
margin: 3% auto;
}


.drum{
  display: inline-block;
  background-color: white;
  color: #D3015B;
  font-weight: 900;
  font-size: 5rem;
  width:150px;
  height:150px;
  margin: 2% 1%;
  border-color: #404B69;
  border-width: 5px;
  border-radius: 5%;
  outline: none;
}

.w{
  background-image: url('tom1.png');
}

.a{
background-image: url("tom2.png");

}

.s{
background-image: url("tom3.png");

}

.d{
background-image: url("tom4.png");
}

.j{
background-image: url("snare.png");
}

.k{
background-image: url("kick.png");
}

.l{
background-image: url("crash.png");
}

.pressed{
  opacity: 0.5;
}

.footer{
  text-align: center;
}


#footer-text{
  font-size: 2rem;
  color: #D5E5F7;
}
